/* All */

:root {
  --pink: #e1aeaf;
  --white: #fff;
  --footer: #ebf6f7;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
}
.container-fluid {
  padding: 0;
}

/* Navbar */

.announcebar p {
  background-color: var(--pink);
  color: var(--white);
  font-size: 12px;
  font-family: 'Jost', sans-serif;
  height: 30px;
  padding: 6px;
  text-align: center;
  margin: 0;
}
li a {
  text-decoration: none;
  color: inherit;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding-right: 6px;
}
.logo {
  width: 50%;
  height: auto;
}
form {
  padding: 15px;
}

/* Modal */

label {
  color:black;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

/* Buttons */

.button-shop {
  height: 3rem;
  width: 10rem;
}
.btn .badge {
  position: relative;
  top: 48px;
}

/* Cart Offcanvas */

.offcanvas-header {
border-bottom: 1px solid #b3b0b0;
}
#search {
  border:none;
  border-bottom: 1px solid black;
  width: 100px;
} 

/* Fonts */

li {
  display: inline-block;
  padding: 0px 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
}
li:hover {
  text-decoration: underline;
  cursor: pointer;
}
h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 66px; 
  font-weight: 900;
}
h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 45px; 
  font-weight: 700;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: 18px 0;
}
.card-text {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.homedel {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
} 

/* Item Cards */

.card {
  border: none;
  /* width: 15rem */
}
.section-card {
  justify-content: center; 
  display: flex;
}
.card-content {
  max-width: 1080px;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: #fcf6f6;
  gap: 20px;
}
.card-content-main {
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.card-container {
  width: 50%;
}
.card-container img{
  border: 15px solid #f9e4dd;
}
.card-container p {
  padding: 0 10px 0 0;
}
.card-container-main {
  width: 50%;
  padding: 10px;
  text-align: center;
}
.article {
  display: flex;
  justify-content: center;
  width: 273px;
}
.price {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  color: black;
  font-weight: 500;
}
.add-to-card {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #8e8573;
}
.gifts {
  max-width: 1300px
}
.product-container {
  margin: auto;
}

/* Our Collection */

.weddsub {
  font-family: 'Rubik', sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin: 38px 0;
}
.coll-card {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.coll-card-text {
font-family: 'Poppins', sans-serif;
font-size: 0.9rem;
font-weight: 300;
color: black;
}
.coll-title {
  margin-top: 100px;
  width: 50%;
}
.testimonial-title {
  font-family: 'Rubik', sans-serif;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  margin: 19px 0;
}

/* Testimonial */

.testimonial {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  color: #868686;
  font-weight: 300;
  margin-top: 75px;
}
.container-testimonial {
  margin-top: 100px;
}
.quoteicon1 {
  width: 40px;
  height: 35px;
  padding: 0;
  transform: scaleX(-1);
  position: absolute;
  left: -41px;
  top: 26px;
}
.quoteicon2 {
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  right: -50px;
  bottom: -22px;
}
.overview {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  color: #212529;
  font-style: italic;
  padding-bottom: 75px;
}

/* Radio */

.container-radio {
  padding: 64px 0;
}
.list-group-item.active {
  border: none;
  border-top: 2px solid #f9e4e3;
}
.list-group-item {
  --bs-list-group-active-color: #000000;
    --bs-list-group-active-bg: #ffffff;
    border: none;
    font-family: 'Rubik',sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000000;
}
.tabssub {
  font-family: 'Rubik', sans-serif;
  color: #000000;
  font-size: 1.9rem;
  font-weight: 700;
}
.tabcontent {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-size: 1rem;
}

/* Footer */

.footer {
  background-color: var(--footer);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.newsletter-label {
  font-family: 'Rubick', sans-serif;
  font-size: 1rem;
  color: #000000;
  font-weight: 900;
  text-transform: uppercase;
  padding: 35px 0 10px;
}
.text-para {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: #000000;
  margin: 14px 0;
}
.form-control {
  width: 452px;
  box-shadow: 0px 0px 20px -9px #000000;
}
.b-footer {
  height: 40px;
}
.footer-container {
  max-width: 1200px;
  margin: auto;
}
.footer-container {
  padding: 48px 0 0;
}
.footer-container img{
  width: 189px;
  height: 27px;
}
.footer-container ul {
  text-align: left;
  padding: 0;
}
.footer-container li {
  padding: 0;
}
.footer-container a {
font-size: 11px;
font-weight: 400;
}
.block-contact p {
  font-size: 0.9rem;
}
.deskhide {
  margin: 14px 0 8px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: start;
  display: none;
}

/* Media */

@media only screen and (max-width: 991px) {
  .logo {
    width: 100%;
  }
  h1 {
    font-size: 34px;
  }
  .section-card p {
    font-size: 0.8rem;
  }
  #homedel {
    font-size: 18px;
  }
  .article {
    width: 470px;
  }
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
  .content-wrapper {
    padding: 0 15px 0 15px;
  }
  .bannersection {
    width: 610px;
    margin: 0 auto
  }
  small {
    font-size: 13px;
    font-weight: 400;
  }
  .footer-container {
    padding: 48px 30px 0 30px;
  }
  .footer-container a {
  font-size: 13px;
  }
  .footer-container ul {
  padding: 0;
  }
  .footer-container li {
  padding: 0;
  }
  .deskhide {
  display: block;
  }
  .deskhide img {
    
  }
}
@media only screen and (max-width: 1299px) and (min-width: 992px){
.article {
  width: 229px;
}
.footer-container {
  max-width: 1000px;
}
}
@media only screen and (max-width: 768px) {
  .content-wrapper {
    padding: 0;
  }
  .card-content-main {
    flex-direction: column-reverse;
  }
  .card-container-main {
    width: 100%;
    padding: 0;
  }
  h1 {
    margin-top: 50px;
    margin-bottom: 0;
    padding: 30px 10px 0;
    font-size: 38px;
  }
  .card-container-main p {
    font-size: 16px;
  }
  .article {
    width: 350px;
  }
  .card-content {
    flex-direction: column;
  }
  .card-container {
    width: 100%;
    text-align: center;
  }
  .card-container img {
    border: none;
    border-right: 33px solid #f9e4dd;
    border-left: 33px solid #f9e4dd
  }
  .card-container p {
    padding: 0 20px;
  }
  .gifts {
    flex-direction: column-reverse;
  }
  .gifts img {
    border: none;
  }
  .img-gift {
    background: #fff;
  }
  .coll-title {
    width: 100%;
  }
  .coll-cards {
    flex-direction: column;
    align-items: center;
  }
  .coll-cards > .col-4 {
    width: 75%;
  }
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 100px;
  background-color: #e1aeaf;
  background-clip: content-box;
}